/*@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap");*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Urbanist", sans-serif;
}

.modal--form--data {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
   /*background-color: #7a7a7a; */
  display: flex;
  opacity: 0;
  pointer-events: none;
}



.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 660px;
  max-height: 34%;
  background-color: #fff;
  /* background-color: #7a7a7a; */
/* position: relative; */
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}
.btn--optionCard {
  margin-top: -2%;
}
.modal__title {
  color: #12a44f;
  margin-top: -6%;

  /* margin-top: 1px -10px 0px 0px; */
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}
.modal__viewPro {
  text-decoration: none;
  color: #fff;
  background-color: #f26250;
  /* padding: 1em 1em; */
  padding: 8px 2em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  /* font-weight: 300; */
}
.modal__viewPro:hover {
  color: #f26250;
  background-color: #fff;
}
.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #0dcaf0;
  padding: 8px 1em;
  margin-top: 12px;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
}

.modal__close:hover {
  /* color: #f26250; */
  background-color: #fff;
  /* #0DCAF0 */
}

@media (max-width: 800px) {
  .img--min {
  }
  .modal__container {
    padding: 2em 1.5em;
    /* background: blue; */
  }
  .item--viewPro--card {
    /* padding: -20px 40px; */
    /* width: 600px; */
  }
  .modal__title {
    font-size: 20px;
  }
  .btn--optionCard {
    font-size: 14px;
    margin-top: 2%;
  }
  .icons--close {
    /* background: red; */
    position: fixed;
    margin-top: -58%;
    margin-left: 92%;
  }
}
.icons--close {
  position: fixed;
  margin-left: 92%;
  margin-top: -160px;
  /* margin-top: -24%;   */
  /* margin: -24%; */
  font-size: 24px;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.icons--close:hover {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.item--viewPro--card {
  background: red;
  /* width: 290%; */
}
/* .imagen:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);} */
.icons--countProd {
  position: fixed;
  border-radius: 25px;
  width: 25px;
  height: 25px;
  margin-top: -18px;
  margin-left: -14px;
  font-size: 13px;
  background: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


