@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap'); */

.textHead{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}
.txtBoxTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
  font-weight: 100;

}
.txtBoxPreBefore{
    /* font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: line-through; */
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  /* font-weight: bold; */
  color: #c0392b;
  text-transform: uppercase;
    /* font-family: 'Roboto', sans-serif;
    font-size: 15px;     */
} 
.txtBoxPreAfter{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;    
}
.txtBoxDisponible{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;        
}

/* view product */
.txtViewProduct{
  /* color: red; */
  font-weight: 700;
  /* font-size: 12px; */
  /* min-width: 120px; */
}
.textPlace{
  /* background: olivedrab; */
  /* font-size: 100 !important; */
  font-weight: lighter;
  font-stretch: condensed;
}


.textPrecioProBefore{
  min-width:70px;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textPrecioProAfter{
  min-width:70px;
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textCountProDis{
  min-width:90px;
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background: orange; */
}
.textPrecioProViewAfter{
  min-width:90px;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.textPrecioProViewOff{
  color:#3BBD51;

}
.textTitleProSearch{
  height: 59px ; 
  overflow: hidden;
}
.textTitleGmailUser{
  min-width:90px;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: #c0392b; */
}