  .slayProViewMore {
      /* background: #1376c5; */
      /* padding: 50px; */
  }

  .post-slide {
      /* background: red; */
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 15px 20px;
      border-radius: 15px;
      height: 260px;
      /* margin-bottom: 50px;
      padding-top: 10px; */
      box-shadow: 0px 14px 22px -9px #bbcbd8;
  }

  .post-slide .post-img img {
      width: 90%;
      height: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s linear;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: -12px 15px 8px 15px;
      margin-left: -10px;
  }

  .post-slide:hover .post-img img {
      transform: scale(1.1, 1.1);
  }

  .post-slide:hover .over-layer {
      opacity: 1;
      text-decoration: none;
  }

  .post-slide .over-layer i {
      position: relative;
      top: 45%;
      text-align: center;
      display: block;
      color: #fff;
      font-size: 25px;
  }

  .post-slide .post-content {
      background: #fff;
      /* background: rebeccapurple; */
      padding: 4px 20px 40px;
      margin-bottom: 15px;
      border-radius: 15px;
  }

  .boxSlayProViewMore {
      /* background-color: #1376c5; */
      margin-bottom: 8px !important;
  }

  .boxSlayProViewMoreDispo {
      /* background-color: aquamarine; */
      padding-top: 20px;
      margin-bottom: 20px;
  }

  .btnProViewMore {
      /* background-color: red !important; */
      /* padding-top: 20px !important; */
      margin-top: 20px;
      margin-bottom: -80px;
  }

  .post-slide .read-more {
      padding: 7px 20px;
      float: right;
      font-size: 12px;
      background: #2196F3;
      color: #ffffff;
      box-shadow: 0px 10px 20px -10px #1376c5;
      border-radius: 25px;
      text-transform: uppercase;
  }

  .post-slide .read-more:hover {
      background: #3498db;
      text-decoration: none;
      color: #fff;
  }

  /* ----- btn next preview */
  .owl-controls .owl-buttons {
      text-align: center;
      margin-top: 20px;
  }

  .owl-controls .owl-buttons .owl-prev {
      background: #fff;
      position: absolute;
      top: 40%;
      left: 15px;
      padding: 0 18px 0 15px;
      border-radius: 50px;
      box-shadow: 3px 14px 25px -10px #92b4d0;
      transition: background 0.5s ease 0s;
  }

  .owl-controls .owl-buttons .owl-next {
      background: #fff;
      position: absolute;
      top: 40%;
      right: 15px;
      padding: 0 15px 0 18px;
      border-radius: 50px;
      box-shadow: -3px 14px 25px -10px #92b4d0;
      transition: background 0.5s ease 0s;
  }

  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
      content: "\f104";
      font-family: FontAwesome;
      color: #333;
      font-size: 30px;
  }

  .owl-controls .owl-buttons .owl-next:after {
      content: "\f105";
  }

  @media only screen and (max-width:1280px) {
      .post-slide .post-content {
          padding: 0px 15px 25px 15px;
      }
  }
@media(width <700px){
    /* slayder de no le dejes ir  */
    .boxSlayProHomeView {
        margin-bottom: 20px !important;
        /* background: #05bbff; */
        display: flex;
        justify-content: center;
        /* width: 90%; */
        /* display: flex; */
        /* justify-content: center; */
    }
    .boxBodySlayMin {
        /* background: orange !important; */
        width: 362px !important;
        border-radius: 12px;
        box-shadow: 2px 2px 9px 2px #F1F3F3;
        border: #08c708 !important;
        margin-left: -10px;
        margin-bottom: 90px;
        /* z-index: 999; */
        /* margin-inline-end: -30px !important; */
        /* margin-right: 590px !important; */
        /* margin-right: 290px !important; */
    }
    .cuen {
        /* background: blueviolet !important; */
        width: 198px;
    }
    .boxImgSlayMin{
        width: 156px !important;
        /* background: #08c708; */
    }
    .imgItemSlayMin {
        height: 148px !important;
        /* width: 80px; */
    }

    .boxTitleSlayMin {
        /* background: #0D6EFD !important; */
        height: 56px;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        padding-top: 10px;
        /* background: #08c708; */
        /* width: 120px; */

    }
    /* .slay-box-item {
        border-radius: 14px;
        box-shadow: 2px 2px 9px 2px #F1F3F3;
    } */
    
}
@media (min-width: 800px) {
    .boxBodySlayMin {
        background: blue;
        border-radius: 12px;
        margin-left: 30rem;
        margin-right: -90rem !important;
        box-shadow: 2px 2px 9px 2px #F1F3F3;
    }
}
@media (width > 800px){
    .boxBodySlayMin {
        /* background: orange !important; */
        /* width: 450px; */
        /* min-width: 40rem; */
        /* border-radius: 12px;
        margin-left: 30rem !important;
        margin-right: 30rem !important;
        box-shadow: 2px 2px 9px 2px #F1F3F3; */
        /* border: #08c708 !important; */
    }

    .boxBodySlayMin:hover {
        box-shadow: 5px 5px 10px 0px #dce2e4;
        transition: 0.3s ease;
    }
}
  @media (width >=700px) {

      /* slayder de no le dejes ir  */
      .boxSlayProHomeView {
          margin-bottom: 6rem !important;
          /* background: #05bbff; */
          /* width: 90%; */
          /* display: flex; */
          /* justify-content: center; */
      }

      .boxTitleSlayMin {
          /* background: #0D6EFD !important; */
          height: 56px;
          display: flex !important;
          align-items: center !important;
          justify-content: center;
          padding-top: 10px;
          /* background: #08c708; */
          /* width: 120px; */

      }

      .imgItemSlayMin {
          height: 180px;
      }

      .slay-box-item {
          border-radius: 14px;
          box-shadow: 2px 2px 9px 2px #F1F3F3;
      }

      .boxBodySlayMin {
          /* background: orange !important; */
          width: 450px;
          border-radius: 12px;
          box-shadow: 2px 2px 9px 2px #F1F3F3;
          /* border: #08c708 !important; */
      }

      .boxBodySlayMin:hover {
          box-shadow: 5px 5px 10px 0px #dce2e4;
          transition: 0.3s ease;
      }

      .containerSlayMinHome {}

      .cuen {
          /* background: blueviolet !important; */
          width: 198px;
      }
  }

  .res {
      /* background: #333; */
  }

  .da {
      /* background: #888; */
  }

  /* -------- slayder producto click boton web*/
  .boxSlayderScrollWeb {
      border-radius: 8px;
      /* background-color: #08c708; */
  }

  .boxSlayderWep {
      height: 19rem;
  }

  .accordion {
      width: 315px;
  }

  .vertical-menu {
      width: 265px;
      height: 250px;
      overflow-y: auto;
  }

  .btn-numbers {
      background: #EE7358;
  }

  .min-layer {
      margin: 4px, 4px;
      padding: 4px;
      background-color: #08c708;
      width: 100%;
      overflow: auto;
      white-space: nowrap;
  }

  .horizontal-scroll-contenedor {
      width: 100%;
      height: 150px;
      overflow-y: hidden;
      white-space: nowrap;
  }

  /* .horizontal-scroll-contenedor>div {
      display: inline-block;
  } */

  .x-menu {
      /* background: black; */
      width: 100%;
      height: 120px;
      overflow-y: auto;
      overflow-x: auto;
  }

  /* modificar la barra del scroll de y vertical */
  ::-webkit-scrollbar {
      width: 6px;
      /* Ajusta el ancho según tus preferencias */
  }

  ::-webkit-scrollbar-thumb {
      background-color: #888;
      /* Cambia el color del scroll thumb según tus preferencias */
  }