.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* --------------------------------------- ver mas--------------------------- */

.ver-mas:hover {
  color: #2e86c1;
  /* background: red;
    background-color: red; */
}

a.ver-mas-a .ver-mas-a:hover {
  /* background: orange ; */
  border-radius: 6px;
  box-shadow: 5px 10px 12px #aab7b8;
  transition: 0.3s ease;
}

/* ------------------------- love ------------------------------ */

/*.icons--love--view {*/
/*   background: black; */
/*  font-size: 90px;*/
/*}*/

.overlay {
  width: 34px;
  height: 32px;
  top: 2%;
  left: 78%;
  background-color: rgba(253, 254, 254, 0.4);
  font-size: 23px;
  border-radius: 30px;
  position: absolute;
  /*permite poner sobre ensima*/
  opacity: 0;
  transition: 0.3s ease;
}

.box-love:hover .overlay {
  opacity: 1;
}

.box-efect {
  box-shadow: 5px 10px 12px #e7eeee;
  border-radius: 6px;
  height: 384;
}

.box-efect:hover {
  border-radius: 6px;
  box-shadow: 5px 10px 12px #e0e7e7;
  transition: 0.3s ease;
}

/* ------------------ page -------------------------- */

.page-item {
  /* background: orange;   */
}

.page-link {
  /* box-shadow: 5px 10px 12px #D5DBDB; */
  box-shadow: 5px;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  margin: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover {
  background: #05bbff;
  color: white;
  border-color: #05bbff;
}

/*-------------cart--------------*/
/**{*/
/*    background:#F2EFEF;*/
/*}*/
.container--flip {
  width: 94%;
  /*background: blue;*/
}

.box--flip--one {
  /*width: 72%;*/
}

.box--icons--delete {
  position: absolute;
  margin-top: 60px;
  margin-left: 46%;
}

.text--cart--foo {
  font-size: 12px;
}


/* log admin */
.form--frm--adminLog {
  height: 19rem;
}

.input--frm--adminLog {
  background: #E7F9EB;
  border-color: #98EFCC;
}

.input--frm--adminLog:hover {
  box-shadow: 0 0 5px #19C27D;
}

.input--frm--adminLog:focus {
  background: #E8F0FE;
}

/* log user */
.form--frm--userLog {
  height: 426px;
  /* height:26rem; */
}

.boxBodyInputLoginUser {
  margin-bottom: 30px;
}

.btnBodyLoginUser {
  margin-bottom: 26px !important;
}

.btnIniciarSesion {
  padding: 10px;
  /* width: 190px; */
}

/*  title de login user */
.titleFormLoginUser {
  /* color: #00f2fe; */
  margin-bottom: 36px;
}

.input--frm--userLog {
  background: #E7F9EB;
  border-color: #98EFCC;
}

.input--frm--userLog:hover {
  box-shadow: 0 0 5px #19C27D;
}

.input--frm--userLog:focus {
  background: #E8F0FE;
}

.form-control:focus-visible {
  box-shadow: 0 0 2px #0D6EFD;
}

.form--frm--userRegistro {
  height: 30rem;
}

.form--frm--userRecuperar {
  height: 21rem;

}

/* form recuperacion de clave */
.form__input__vacio {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.form__input__email__correcto {
  /* background:#D1F4FF; */
  background: #E2FAEC;
  border-radius: 6px;
  font-size: 14px;
  /* padding-top:12px; */
  padding: 12px 12px 12px 12px;

}

/* form envio de clave */
/* .form--frm--userRecuperar--correcto{ */
.form--correcto {
  height: 25rem;

}

.form__text__vacio {
  font-size: 12px;
  margin-bottom: 0;
  display: none;

}

.form__btn__vacio {
  margin-bottom: 0;
  display: none;

}

/* box register validar correo */
.input--frm--errorValidacion {
  background: #FFC5C5;
  border-color: #e50030;
  border-width: 2px;
}

.input--frm--errorValidacion:hover {
  /* border-color:#9e1a1a; */
  border-color: #e50030;
  border-width: 4px;
}

.text--frm--msgError {
  color: #e50030;
  font-size: 12px;
}

.text--frm--msgVacio {
  /* outline: none; */
  /* font-size: none; */
  /* display: block; */
  /* margin-bottom: 0; */
  display: none;
}

/*  correcto validacion*/
.input--frm--bienValidacion {
  /* background: #209F82; */
  /* opacity:0.6; */
  border-color: #1ed12d;
  border-width: 2px;
}

.input--frm--bienValidacion:hover {
  border-color: #1ed12d;
  border-width: 4px;
}

.text--frm--msgBien {
  color: #209F82;
  font-size: 12px;

}

/* icons */

/* ----------------es el svg ------------ */
.icon--frm--vacio {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.icon--frm--bienValidacion {
  position: absolute;
  /* width: 20px;
    height: 20px; */
  left: 84%;
  top: 30%;
  /* margin-top: ; */
  font-size: 18px;
  /* font-weight: 800; */
  color: #1ed12d;
}

/* .icon--frm--errorValidacion {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 88%;
    top: 52%;
    font-size: 18px;
    color: #e50030;
  } */


/* ----------------- search validar --------------- */

.box-search-validar {
  /* background-color: #E3FAED; */
  /* background-color: #57CAA7; */
  width: 50rem;
}

.box--home--text {
  /* background: #e50030; */
  height: 70px;
}


/* box producto  home*/
/* .box--btn--addHomeP{
    background-color: #57CAA7;
    height: 264px;
} */
.box--btn--addHome {
  /* background-color: #2e86c1; */
  /* margin-top: 3rem; */
  /* display:flex ;
align-items: flex-end; */
  /* position: relative ; */
  /* position: absolute; */
  /* height: 464px; */
  /* height: 264px; */

  /* display: flex;
 align-items: flex-end; */
  /* margin-top: 5rem; */
  /* top: 3rem; */
}

/* margin-top: 10rem; */


/* ----- */
/* .arrow--box{
    background: #1ed12d; */
/* display: block; */
/* position: none; */
/* margin-top: 100px; */
/* } */

/* box ---perfil edit */

.content--perfil--user {
  margin-bottom: 10rem;
}

/* box perfil  img*/
.box--perfil--home {
  border: #84FAB0;
  border-radius: 14px;
  border-style: dashed;
  border-width: 4px;
  height: 190px;
}

/* box input search */
.input--search--home {
  height: 50px;
  border-color: none;
}

.input--search--home:hover {
  border-color: #6ABEA5;
  box-shadow: 0px 1px 12px #6ABEA5;
}

.input--search--home:focus {
  border-color: #6ABEA5;
  box-shadow: 0px 2px #6ABEA5;
}

.input--search--home:focus-visible {
  box-shadow: 0 0 2px #6ABEA5;
}


/* listCategoryFilter */
.listCategoryFilterClickHead {
  height: 400px;
  /* background: #05bbff; */
  /* margin-right: 90px; */

}

.listCategoryFilterClickBodyMain {
  /* background: #19C27D; */
  /* margin-right: 390px; */
}

.listCategoryFilterClickBody {
  height: 360px;
}

.btnListCategoryView {
  margin-top: -6px;
  width: 90px;
  /* background-color: #63E6BE; */
  background-color: #638BE6;

}

.txtListCategoryView {
  height: 56px;
}

.boxSlayderProSec {
  /* background: red; */
}

/* formulario de perfil */
.formPerfil {
  height: 400px;
}

/* box home vistas img */
.boxPresenProHome {
  /* background: #0D6EFD; */
  background: #F4F5F6;
  margin-bottom: 80px;
  /* padding: 100px; */
  border-radius: 8px;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxInformationHome {
  background: #FFFFFF;
  box-shadow: 5px 10px 12px #d5dbdb;
  border-radius: 4px;
  height: 350px;
  width: 16rem;
  margin-right: 10px;
}

.boxInformationHome:hover {

  border-radius: 6px;
  /* box-shadow: 5px 10px 12px #aab7b8; */
  box-shadow: 5px 10px 12px #cbd1d1;
  transition: 0.3s ease;
}

.iconIntemHome {
  width: 34%;
  padding-top: 20px;
  /* align-items: ; */
  /* margin-bottom: 120px; */
}

.boxItemImgHome {
  padding: 30px;
}

.textTitleVenHome {
  color: #3bcc6b;
  /* background:#43EA7C; */
}

/* slay producto home */

.boxSimbolSlayProHome {}

.textTitleSlayProHome {
  margin-bottom: 54px;
}

/* carusel  */
.boxCaruselMainHome {
  margin-bottom: 102px;
  z-index: 9;
  /* background: #19C27D !important; */
}

/* box cart compras */
.boxBodyCart {
  /* background: rgb(25, 202, 113); */
  /* width: 58rem; */
}

/* .boxBodyCartInfo{
  background: #0D6EFD;
  width: 22rem;
} */
.boxBodyCartInfoCompra {
  margin-bottom: 50px !important;
}

/* .btnPaymetGenerar{
  padding: 10px 1rem;
} */
/* btn de ir arriba  */
.ir-arriba:hover{
  /* background: #11FFBD; */

  box-shadow: 0px 10px 20px -10px #212F3C;
}

@media(width < 700px) {

  /* ---------- box imagen  */
  .box--text--pre {
    font-size: 14px;
  }

  .box--search--yes {
    height: 358px;
  }

  .title--box--pro {
    height: 50px;
    font-size: 12px;

    /* margin-bottom: 4rem; */
  }

  .boxBodyCartInfoMain {
    padding-top: 4rem;
    margin-bottom: 4rem;
    padding: 44px;
    /* display: flex;
    justify-content: center; */
    /* background: #19C27D; */
  }

  .boxBodyCartInfo {
    /* padding-top: 40px !important; */
    /* padding-top: 40; */
    /* background: #0D6EFD !important; */
    /* width: 4rem !important; */
    /* display: flex; */
    /* justify-content: center; */
    /* width: 926px !important; */

  }

  /* .btnPaymetGenerar{
    padding: 10px 1rem;
  } */
  .boxContainerProductoList {
    /* background: #0D6EFD; */
    padding-top: 40px;
  }

  /*  */
  .boxCartIcomHead {
    /* background: #24adad; */
    display: flex;
    justify-content: center !important;
    /* margin-left: 40px; */
    margin-right: -36px;
  }

  .boxCartIcomBody {
    /* background: #19C27D; */
    display: flex;
    justify-content: center;
    /* align-items: center !important;  */
    /* margin-right: 38px; */
    /* left: 3rem !important; */
  }

  .icomCartBody {
    /* background: rebeccapurple; */
    font-size: 30px !important;
  }

  .numCartPro {
    background: red;
    color: white !important;
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    /* right: -10px; */
    left: 30px;
    width: 66%;
    height: 66%;
    /* padding-top: 80px !important; */

  }

  /*  */
  .boxIcomPerfinMain {
    /* background: blueviolet; */
    margin-left: 90px;
    margin-right: -180px;

  }

  .perfil--header--link {
    /* background: red; */
    /* width: 30rem; */
    width: 256px;
    height: 320px;
    border: none;
  }

  .boxPerfilHead {
    width: 238px;
    left: -78px !important;
    top: 50px !important;
    border: none;
  }

  .boxPerfilBodyHead {
    position: relative;
    /* margin-top: -80px; */
    margin-right: -18px !important;
    margin-left: 20px;
  }

  .boxContainerSlayMainLag {
    margin-bottom: 70px;
  }

  /* icom user */
  .iconLoginUser {
    /* font-size: 10px !important;
    margin-bottom:20px !important ; */
  }
 /*  btn de whatsapp contacto */
 .boxContainerWhatapp{
  background: #25D366 !important;

  /* z-index: 99;
  position: fixed !important;
  padding: 20px;
  background: #212F3C;
  color: #fff;
  font-size: 20px;
  bottom: 110px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 9px;
  right: 20px;
  width: 44px;
  height: 38px;
  cursor: pointer; */



  position: fixed !important;
  /* padding: 1px 3px 1px; */
  /* padding: 20px; */
  right: 22px;
  /* top: 42rem; */
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  font-size: 20px;
  bottom: 120px;
  cursor: pointer;
  border-radius: 50%; /* Utiliza 50% en lugar de 80% para un círculo perfecto */
  /* box-shadow: 0px 0px 8px 4px #e7eeee; */
  box-shadow: 0px 0px 4px 2px #1ed12d;
  /* e7eeee */
  /* border: 0px solid #19C27D; Agrega un ancho y tipo de borde */
}
.boxContainerWhatapp:hover{
  background: #1ccc86 !important;
  box-shadow: 0px 0px 4px 2px #1ccc86;
  /* 19C27D */
}
/* icoms whatapp*/
.iconWhatp{
  font-size: 38px;
  color: white;
}
/*  */
.ir-arriba {
  /* position: absolute; */
  z-index: 99;
  position: fixed !important;
  padding: 20px;
  background: #212F3C;
  color: #fff;
  font-size: 20px;
  bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 9px;
  right: 20px;
  width: 44px;
  height: 38px;
  cursor: pointer;
  /* position: relative; Asegura que el botón esté posicionado de manera relativa */
  /* z-index: 2; Asegura que el botón tenga un índice z más alto que el div */

}
}

@media (width >= 700px) {
  /* btn ir arriba */
  .ir-arriba {
    /* position: absolute; */
    z-index: 99;
    position: fixed !important;
    padding: 20px;
    background: #212F3C;
    color: #fff;
    font-size: 20px;
    bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 9px;
    right: 20px;
    width: 44px;
    height: 38px;
    cursor: pointer;
    /* position: relative; Asegura que el botón esté posicionado de manera relativa */
    /* z-index: 2; Asegura que el botón tenga un índice z más alto que el div */
  
  }

  .box--search--yes {
    height: 25rem;
  }

  .title--box--pro {
    height: 50px;
    font-size: 17px;
  }

  .box--text--pre {
    font-size: 16px;
  }

  .title--box--pro-view {
    height: 58px;
    font-size: 17px;
  }

  .box--produ--view {
    height: 430px;

  }

  .boxBodyCartInfo {
    /* background: #0D6EFD; */
    width: 20rem;
    /* width: 315px; */
  }

  /*  */
  .boxContainerProductoList {
    /* background: #0D6EFD; */
    padding-top: 90px;
    margin-bottom: 120px;
  }

  .boxContainerProductoCheck {
    margin-bottom: 5rem;
  }

  /*  */
  .boxCartIcomHead {
    /* background: #24adad; */
    /* display: flex; */
    /* justify-content: center !important; */
    margin-left: 40px;
  }

  .boxCartIcomBody {
    /* background: #19C27D; */
    display: flex;
    justify-content: center;
    /* align-items: center !important;  */
    margin-right: 50px;
  }

  .icomCartBody {
    /* background: rebeccapurple; */
    font-size: 34px !important;
  }

  .numCartPro {
    background: red;
    color: white !important;
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    /* right: -10px; */
    left: 30px;
    width: 70%;
    height: 70%;
    /* padding-top: 80px !important; */

  }

  /*  */
  .boxIcomPerfinMain {
    /* background: blueviolet; */
    margin-left: 90px;
    margin-right: -180px;

  }

  .perfil--header--link {
    /* background: red; */
    /* width: 30rem; */
    width: 256px;
    height: 320px;
    border: none;
  }

  .boxPerfilHead {
    width: 238px;
    left: -78px !important;
    top: 50px !important;
    border: none;
  }

  .boxPerfilBodyHead {
    position: relative;
    margin-top: -80px;
  }

  .boxContainerSlayMainLag {
    margin-bottom: 70px;
  }
 /*  btn de whatsapp contacto */
 .boxContainerWhatapp{
  background: #25D366 !important;
  position: fixed;
  /* padding: 1px 3px 1px; */
  right: 20px;
  /* top: 30rem; */
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  font-size: 20px;
  bottom: 170px;
  cursor: pointer;
  border-radius: 50%; /* Utiliza 50% en lugar de 80% para un círculo perfecto */
  box-shadow: 0px 0px 4px 2px #1ed12d;
  /* border: 0px solid #19C27D; Agrega un ancho y tipo de borde */
}
.boxContainerWhatapp:hover{
  background: #1ccc86 !important;
  box-shadow: 0px 0px 4px 2px #1ccc86;
  /* 19C27D */
}
/* icoms whatapp*/
.iconWhatp{
  margin-top: 4px;
  font-size: 38px;
  color: white;
  /* color: black; */
}
}

/* box de nosotros card informativo  */
.boxItemInfoNosotros {
  margin-bottom: 90px;
  padding-top: 90px !important;
  padding: 40px;
}

/* box-efect" */

/* box producto search */
.boxProductSearch {
  /* background: #19C27D; */
  border-color: #0D6EFD;
  border-radius: 8px;
}

.btnBodyAddPro {
  /* width: 90px !important; */
  padding: 10px 2rem !important;
}

.btnBodyAddProHome {
  padding: 9px 24px !important;
}

/* contenedor de cart  */
.boxContainerCart {
  margin-bottom: 10rem;
}

/* contenedor de search */
.boxContainerSearchProduct {
  margin-bottom: 10rem;
}

/*  */
.boxBtnCerrarSession{
  /* top: 90rem !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #19C27D; */
  margin-top: 18rem;

  
}
.btnCerrarSesion{
  background-color: #19C27D;
  color: white;
  padding: 16px 4rem !important;
  /* width: 30rem; */
  float: left;
  box-shadow: 0px 10px 20px -10px #19C27D;
  border-radius: 8px;
  text-transform: uppercase;
}


/* -------slayder de search main */
.slyderSearchProductMain {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-slay-search {
  /* border-color: red; */
}
@media(width >=700px){
  .boxSearchImgHead{
    /* background: rebeccapurple !important; */
    /* width: 10px !important; */
    max-width: 20rem;
  }
}
@media(width <700px){

}