.btnLoginHomeMain{
  background:#FFC107;
  padding: 12px 20px;
  float: left;
  font-size: 12px;
  box-shadow: 0px 10px 20px -10px #FFC107;
  border-radius: 5px;
  text-transform: uppercase;
   /*background:#7ED6EB; */
   /* color: #ffffff; */
  }
.btn--view-page{
  /* background: #7EA0EB; */
  /* background: #09ED69; */
  background: #2196F3;
  color: #ffffff;

  padding: 7px 20px;
  float: right;
  font-size: 12px;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn--view-page:hover{
  /* background: #96B3F1; */
  background: #429DE6;
}

.btn--view-add{
background:#7EEBCA;
padding: 7px 20px;
float: left;
font-size: 12px;
box-shadow: 0px 10px 20px -10px #7DCEA0;
border-radius: 5px;
text-transform: uppercase;
 /*background:#7ED6EB; */
 /* color: #ffffff; */
}
.btnViewPageClick{
  background: #2196F3;
  color: #ffffff;
  padding: 7px 20px;
  float: center;
  font-size: 12px;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn--view-add:hover{

  background: #7ADDBF;
}
/* btn view producto */
.btnPaymetView{
  background-color: #0D6EFD;
  color: white;
  padding: 10px 1rem;
  float: left;
  box-shadow: 0px 10px 20px -10px #0D6EFD;
  border-radius: 8px;
  text-transform: uppercase;
}
.btnAddProView{
  background-color: #63E6BE;
  padding: 10px 1rem;
  float: left;
  box-shadow: 0px 10px 20px -10px #63E6BE;
  border-radius: 8px;
  text-transform: uppercase;
}
/* s */
.btn--paymet--vaciar{
    background-color: #FF795D;
  /* color: #20c997; */
  padding: 10px 1rem;
  float: left;
  box-shadow: 0px 10px 20px -10px #FF795D;
  border-radius: 8px;
  text-transform: uppercase;

}
.btn--paymet--ir{
    background: #638BE6;
    /* background-color: #74C0FC; */
    padding: 10px 1rem;
    float: left;
    box-shadow: 0px 10px 20px -10px #638BE6;
    border-radius: 8px;
    text-transform: uppercase;
  }
.btn--paymet--ver{
    background-color: #63E6BE;
    padding: 10px 1rem;
    float: left;
    box-shadow: 0px 10px 20px -10px #63E6BE;
    border-radius: 8px;
    text-transform: uppercase;
}
.btnPaymetGenerar{
    background-color: #FFCA5D;
    padding: 10px 1rem;
    float: left;
    box-shadow: 0px 10px 20px -10px #FFCA5D;
    border-radius: 8px;
    /* text-transform: uppercase; */
}
.btn--paymet--pago{
    background-color: #638BE6;
  /* color: #20c997; */
}
.btn--addCard--count{
 width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20c997;
    font-size: 22px;

}
.btn--addCard--count:hover{
 box-shadow: 0px 1px  12px #D0D3D4;
 cursor: pointer;
}
/* .btn--addCard--count:active{ 0.9 =90%
transform: scale(0.9);
} */
.btn--addCard--countMaster{
    /*background:#7ED6EB;*/
    background:#7EEBCA;

}
.btn--addCard--countMaster:hover{
     /*background:#A3E4D7;*/
       background: #7ADDBF;
}
/* btn enviar correo al contacto  */
.btnEnviarCorreo{
  background:#7EEBCA;
  /* background:#7EEBCA; */
padding: 10px 18px;
float: left;
font-size: 14px;
box-shadow: 0px 10px 20px -10px #7DCEA0;
border-radius: 5px;
text-transform: uppercase;
}
.btnEnviarCorreo:hover{
  background:#7ADDBF;
}
/* .btn--addCard--countMaster:active{
  transform: scale(0.9);
} */

/* btn seguir */
.btnEfectClick:active{
transform: scale(0.9);
cursor: pointer;
/* background-color: #333F50; */
box-shadow: 0 0 2px #6ABEA5;
transition:  0.6s ease; 
}
.btnEfectClick:focus-visible{
box-shadow: 0 0 2px #6ABEA5;
}

/* Quitar el borde de color azul en los botones de Bootstrap */
.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
  /* También puedes establecer el borde o sombra según tus preferencias */
}

input:focus, input:active {
  /* outline: none !important; */
  /* También puedes establecer el borde o sombra según tus preferencias */
}
/* Quitar el borde de color azul en los enlaces <a> de Bootstrap */
a:focus, a:active {
  /* También puedes establecer el borde o sombra según tus preferencias */
  /* outline: none !important; */
}
/* efecto de linea de louding o carga  */
/* a {
text-decoration: none;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s;
} */
.loudingLinkEfectClick{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;  
}
/* efecto  */
/* a{
  outline: none;
} */
/* a.btnEfectClick{
  text-decoration: none !important;
}
a.sin-subrayado {
  text-decoration: none;
} */

/*  */
/* .btnEfectClick::after{
  box-shadow: 0 0 2px #6ABEA5;
  
  }
  .btnEfectClick::before{
    box-shadow: 0 0 2px #6ABEA5;
    
    }
    .btnEfectClick{
      box-shadow: 0 0 2px #6ABEA5;
      
      } */
/* subcribete */
.input--frm--sub{
  width: 230px;
  height: 40px;
}
.btn--frm--sub{
  width: 200px;
  height: 40px;
background-color: #4AD295;
/* background-color: #3E6B90; */
border-radius: 4px;
border-color: none;
}

.footer--final{
  height: 100px;
  background: #000000;
}
/* reseña */
.btn--footer--rese{
  width: 200px;
  height: 40px;
  border: 1px solid #FFFFFF ;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border-color: #FFFFFF;
  /* margin-right */
}


.btn-slay-producto{
  /* display: flex; */
/* justify-content: center; */
  margin-top: 120px;
  margin-left: 17px;
  /* align-items: flex-end; */
  background-color: #1BE0FA;
}

/* style -- listCart */
.btn--listCart--viewCart{
    background: #7EEBCA;
    padding: 8px 1rem;
    width: 110px;
    float: left;
    box-shadow: 0px 10px 20px -10px #7ADDBF;
    border-radius: 4px;
    text-transform: uppercase;
}
.btn--listCart--viewCart:focus{
box-shadow: 0 0 2px #6ABEA5;
}
.btn--listCart--close{
    background: #7ED6EB;
    /* border-color: none; */
    padding: 8px 1rem;
    float: left;
    box-shadow: 0px 10px 20px -10px #62bcd3;
    border-radius: 4px;
    text-transform: uppercase;
    /* background-color: #3E6B90; */
    /* background-color:#2C3E50; */
    /* background-color:#5555D5; */

}
/* btn producto list category */
.listCategoryCard{
  background: #87ECC7;
  box-shadow:0 0 2px #979696;
  /* border-color: none; */
  /* box-shadow: #000000; */
}
.btn--listCart--close:focus{
  /* background: red; */
  /* border-color: #638BE6; */
  /* border-radius: none; */
box-shadow: 0 0 2px #6ABEA5;


}


.btnViewAddNosotro{
  background:#0D6EFD;
  padding: 12px 1rem;
  float: left;
  box-shadow: 0px 10px 20px -10px #638BE6;
  border-radius: 8px;
  text-transform: uppercase;
}