/* border-color:#1ed12d; */
  /* box-shadow: 0 0 5px #0D6EFD; */
  /* background: #E7F9EB;
   */
   /* 917DF9 */

     /* background: #1ed12d; */
  /* border-color:#FFFFFF; */
  /* background: #E7F9EB;
    /* border-color:#FFFFFF; */
  /* .input--frm--adminLog{
background: #E7F9EB;
border-color:#FFFFFF;
} *//* .frm--search--home:hover{
    color: #186A3B;
} */
/* .input-icono {
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 26px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 58px;
  } */

/* ------------------------------------------------ */

/*
.box-love {
  position: relative;
  width: 100%;
  max-width: 400px;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

/* .input-icono {
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 26px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 58px;
  } */